/* Single-styles */
.text_left {
   text-align: left;
}




/* Overview */
body, html {
   margin: 0px;
   height: 100%;
   width: 100%;
   font-family: calibri;

   user-select: none;
}

body {
   display: flex;
   flex-flow: column;
   overflow: hidden;
}

#lower_flex {
   display: flex;
   flex-direction: row;
   flex: 1 1 auto;

   height: calc(100% - var(--shelf-height));
}

#shelf_view {
   height: 100px;
   flex: 0 1 100px;

   background-color: var(--shelf-top-bg-color);
}

#tree_view {
   min-width: 196px;
   top: 100px;

   overflow: auto;
   resize: horizontal;

   background-color: var(--treeview-bg-color);
}

#resize_bar {
   position: absolute;

   width: 3px;
   height: 100%;

   left: 196px;
   top: 100px;

   background-color: var(--resizebar-bg-color);

   cursor: ew-resize;
}

#content_view_wrap {
   left: 201px;
   top: 100px;
}





/* Shelf */
.upper_shelf_btn {
   /* Button on the upper shelf */
   padding-left : var(--shelf-top-side-padding);
   padding-right: var(--shelf-top-side-padding);
   padding-top: var(--shelf-top-vert-padding);
   padding-bottom: var(--shelf-top-vert-padding);

   display: inline-block;
   user-select: none;
   cursor: pointer;

   color: var(--shelf-top-font-color);
}

#lower_shelf_viewport {
   /* Lower shelf wrapper itself */
   top: calc(var(--shelf-height) - var(--shelf-lower-height));
   height: var(--shelf-lower-height);
   position: absolute;
   width: 100%;

   background-color: var(--shelf-lower-bg-color);

   flex: 0 1 var(--shelf-lower-height)
}



/* Items in the tree node */
.tree_view_item {
   width: calc((100%) - (4px));
   height: var(--treeview-item-height);
   padding: 2px;

   cursor: pointer;

   background-color: var(--treeview-item-bg-color);
   color: var(--treeview-item-font-color);
}

.tree_view_item:hover {
   background-color: var(--treeview-item-bg-color-hover);
   color: var(--treeview-item-font-color-hover);
}

.tree_view_item:active {
   background-color: var(--treeview-item-bg-color-active);
   color: var(--treeview-item-font-color-active);
}

.tree_view_item_inner {
   position: relative;
   display: inline-block;

   cursor:pointer;
}


/* Content View */
#save_notification {
   width: 60px;
   height: 20px;
   left: calc(100% - 60px);

   position: absolute;
   padding: 4px;

   display: none;

   background-color: var(--save-notification-bg-color);
   color: var(--save-notification-font-color);
}

#content_view {
   width: calc(100% - 8px);
   height: calc(100% - 8px);
   padding: 4px;
   display: inline-block;
   white-space: pre-wrap;

   overflow: auto;

   color: var(--content-view-font-color);
   background-color: var(--content-view-bg-color);
}

#content_view:focus {
   outline: 0px solid transparent;
}
