:root {
   --shelf-height: 100px;
   --shelf-top-font-size: medium;
   --shelf-top-side-padding: 16px;
   --shelf-top-vert-padding: 4px;

   --shelf-top-bg-color: #232323;
   --shelf-top-bg-color-hover: #343434;
   --shelf-top-bg-color-open: #454545;
   --shelf-top-font-color: #dddddd;
   --shelf-top-font-color-hover: #ffffff;
   --shelf-top-font-color-open: #ffffff;


   --shelf-lower-height: 73px;

   --shelf-lower-bg-color: #454545;

   --button-group-border-width: 1px;
   --button-group-border-style: solid;
   --button-group-border-color: #434343;
   --button-group-separator-width: 1px;
   --button-group-separator-style: solid;
   --button-group-separator-color: #525252;
   --button-group-rounding: 3px;



   --treeview-bg-color: #cccccc;
   --treeview-font-color: #111111;
   --treeview-bg-color-selected: #aaaaaa;
   --treeview-font-color-selected: #000000;
   --treeview-item-bg-color: #cccccc;
   --treeview-item-font-color: #111111;
   --treeview-item-bg-color-hover: #dedede;
   --treeview-item-font-color-hover: #121212;
   --treeview-item-bg-color-active: #fefefe;
   --treeview-item-font-color-active: #212121;


   --treeview-depth-indent: 12px;
   --treeview-item-height: 24px;


   --resizebar-bg-color: #ababab;


   --save-notification-bg-color: #dddddd;
   --save-notification-font-color: #777777;


   --contentview-bg-color: #ffffff;
   --contentview-font-color: #000000;
}
